.btn-shine {
  transform: translate(-50%,-50%);
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
}
    
@keyframes shine {
  0% {background-position: 0px;}
  35% {background-position: 180px;}
  70% {background-position: 270px;}
  100% {background-position: 359px;}
}    